@config "../tailwind.config.js";
@import "tailwindcss";
@import "./CSS/custom.css";

:root {
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --container: 720px;
}

html {
  scroll-behavior: smooth;
}

/* body global */
body {
  min-height: 100dvh;
  margin: 0;
  background-color: #0b0e17;
  color: #e5e7eb;
  font-family: Inter, system-ui, sans-serif;
  box-sizing: border-box;
}

@layer {
  h1,
  h2,
  h3,
  h4 {
    font-family: "Roboto Mono", monospace; /* blanc très légèrement violacé */
    line-height: 1.2;
  }

  h1 {
    font-size: clamp(2.2rem, 5vw, 3.5rem);
  }

  h2 {
    font-size: clamp(1.8rem, 4vw, 2.6rem);
  }

  h3 {
    font-size: 1.1rem;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 1.4rem;
    }
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem; /* ≈ 1152px */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nav-link.active {
    text-decoration: underline;
  }

  .title-intro {
    line-height: 1.6;
    max-width: 50ch;
  }
}
